.pillars-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pillar-container {
  background-color: yellow;
  width: 50%;
  height: 100px;
  margin: 10px 10px;
}

.pillar-title {
  background-color: yellow;
  font-size: large;
  font-weight: bold;
}

.pillar-info {
  background-color: yellow;
  font-size: medium;
}
